@media (min-width: 800px) {
  .sh-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-lg);
  }

  .sh-grid-sidebar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-lg);
  }
}